<script th:src="@{/scripts/actor/new.js}"></script>
<form id="saveForm"  method="post">
    <table class="addNewInfList">
      	<tr>
				<th>购买日期</th>
				<td><input
					onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text"
					class="inp-list w-200 clear-mr f-left"					
					id="createTime" name="createTime" /></td>
				 
				<th>名称</th>
				<td width="240">
				<input  type="text"  id="itemname" name="itemname"
					maxlength="16" width="100" />
				<select  name="itemid" id="itemid" width="80">
						<option th:each="item:${items}" th:value="${item.id}"
							th:text="${item.name}" ></option>
				</select></td>

			</tr>
			<tr>
				<th>数量</th>
				<td width="240"><input class="inp-list w-200 clear-mr f-left"
					type="text"  id="qty" name="qty"
					maxlength="16" /></td>
				<th>单价</th>
				<td width="240"><input class="inp-list w-200 clear-mr f-left"
					type="text" id="price" name="price"
					maxlength="16" /></td>
			</tr>
			<tr>
				<th>总价</th>
				<td width="240"><input class="inp-list w-200 clear-mr f-left"
					type="text" id="charge" name="charge"
					maxlength="16" /></td>
				<th>备注</th>
				<td width="240"><input class="inp-list w-200 clear-mr f-left"
					type="text"  id="remark" name="remark"
					maxlength="16" /></td>
			</tr>
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>


